# Import Packages

In [1]:
pip search mysql-connector

The following command must be run outside of the IPython shell:

    $ pip search mysql-connector

The Python package manager (pip) can only be used from outside of IPython.
Please reissue the `pip` command in a separate terminal or command prompt.

See the Python documentation for more information on how to install packages:

    https://docs.python.org/3/installing/

In [2]:
pip install mysql-connector-python

The following command must be run outside of the IPython shell:

    $ pip install mysql-connector-python

The Python package manager (pip) can only be used from outside of IPython.
Please reissue the `pip` command in a separate terminal or command prompt.

See the Python documentation for more information on how to install packages:

    https://docs.python.org/3/installing/

In [3]:
import Paipai_API

ModuleNotFoundError: No module named 'mysql'

In [4]:
from Paipai_API import PaiPai_HF_API

ModuleNotFoundError: No module named 'mysql'

# Initialize Class

In the following examles we will extract the data of several hedge funds.


Each API object can be used to extract any types of information available for a certain set of funds.

Instead of directly pulling every possible data, API object offers flexibility in terms of types of data that needs to be pulled.

In [3]:
sample1=PaiPai_HF_API(None,['HF0000000G','HF00000008'],None)

In [4]:
sample2=PaiPai_HF_API(None,['HF0000000G','HF00000008','HF00000009','HF0000000A','HF0000000B','HF0000000C','HF0000000D'],None)

In [5]:
sample3=PaiPai_HF_API(None, None, ['',''])

# Demo

The next example will pull the following information from the SQL database.

1. Strategy
2. Return
3. create time
4. aum

Later, we will customize the query so that we could pull specific feature from the table.

In [6]:
strategy=sample2.get_fund_strategy()
print(strategy)

('HF0000000G', 'HF00000008', 'HF00000009', 'HF0000000A', 'HF0000000B', 'HF0000000C', 'HF0000000D')
      fund_id  updatetime  substrategy  strategy
0  HF00000008    20181229            1         1
1  HF00000009    20170317            1         1
2  HF0000000A    20170116            1         1
3  HF0000000B    20170112            1         1
4  HF0000000C    20170504            1         1
5  HF0000000D    20161013            1         1
6  HF0000000G    20170204            1         1

In [7]:
ret=sample1.get_fund_ret()
print(ret)

('HF0000000G', 'HF00000008')
        fund_id  end_date       ret
0    HF00000008    200712       NaN
1    HF00000008    200801  0.006300
2    HF00000008    200803       NaN
3    HF00000008    200804 -0.127648
4    HF00000008    200805  0.046873
..          ...       ...       ...
302  HF0000000G    201905 -0.060987
303  HF0000000G    201906  0.041824
304  HF0000000G    201907  0.004556
305  HF0000000G    201908  0.035324
306  HF0000000G    201909 -0.004978

[307 rows x 3 columns]

In [8]:
createtime=sample2.get_create_time()
print(createtime)

('HF0000000G', 'HF00000008', 'HF00000009', 'HF0000000A', 'HF0000000B', 'HF0000000C', 'HF0000000D')
      fund_id  updatetime          createtime
0  HF00000008    20181229 2013-05-28 09:10:34
1  HF00000009    20170317 2013-05-28 09:10:34
2  HF0000000A    20170116 2013-05-28 09:10:34
3  HF0000000B    20170112 2013-05-28 09:10:34
4  HF0000000C    20170504 2013-05-28 09:10:34
5  HF0000000D    20161013 2013-05-28 09:10:34
6  HF0000000G    20170204 2013-05-28 09:10:34

In [9]:
aum=sample2.get_aum()
print(aum)

('HF0000000G', 'HF00000008', 'HF00000009', 'HF0000000A', 'HF0000000B', 'HF0000000C', 'HF0000000D')
       fund_id  fund_asset_size_date  fund_asset_size
0   HF0000000A              20090601           3130.0
1   HF0000000A              20110228              NaN
2   HF0000000A              20110311              NaN
3   HF0000000A              20130301              NaN
4   HF0000000B              20101022          10000.0
5   HF0000000B              20111110              NaN
6   HF0000000B              20120306           7000.0
7   HF0000000B              20120621              NaN
8   HF0000000C              20101029              NaN
9   HF0000000C              20110506              NaN
10  HF0000000C              20110805              NaN
11  HF0000000C              20111209              NaN
12  HF0000000C              20120831              NaN
13  HF0000000D              20090401           6000.0

In [10]:
personnel_info=sample3.get_current_personnel_info()
print(personnel_info)

('', '')
1054 (42S22): Unknown column 'fund_id' in 'where clause'
None